{% load i18n %}
{% load static %}
{% load basetags %}
<div class="col-md-8">
    <div style="margin-top:25px;">
        <p class="center"
           id="blink1"
           style="font-size: medium;
                  color:rgb(182, 253, 255);
                  margin-bottom: 2px">
            <strong>{{ SITECONF.headtext1 }}</strong>
        </p>
        <p class="center"
           id="blink3"
           style="font-size: medium;
                  color:rgb(182, 253, 255);
                  margin-top:2px;
                  margin-bottom: 2px">
            <strong>{{ SITECONF.headtext2 }}</strong>
        </p>
        <script>
            function blinks(hide) {
                if (hide === 0) {
                    $('#blink1').css("color", "rgb(44, 225, 210)");
                    $('#blink2').css("color", "rgb(44, 225, 210)");
                    $('#blink3').css("color", "white");
                    $('#blink4').css("color", "white");
                    hide = 1;
                } else if (hide === 1) {
                    $('#blink1').css("color", "white");
                    $('#blink2').css("color", "white");
                    $('#blink3').css("color", "rgb(44, 225, 210)");
                    $('#blink4').css("color", "rgb(44, 225, 210)");
                    hide = 0;
                } else {
                    $('#blink1').css("color", "white");
                    $('#blink2').css("color", "white");
                    hide = 0;
                }
                setTimeout("blinks(" + hide + ")", 800);
            }

            $(document).ready(function() {
                blinks(1);
            });
        </script>
        <style type="text/css">
            @media (min-width: 768px) {
                html {
                    font-size: 16px;
                }
            }

            form {
                width: 100%;
            }
        </style>
        <form class="form_buy"
              id="buy_submit"
              action="buyVerify"
              method="post"
              target="_blank"
              style="margin-top:25px">
            {% csrf_token %}
            <div style="opacity: 1.0;">
                <div class="formbox">
                    <h2 class="h2 font-weight-normal"
                        style="text-align:center;
                               font-size: larger">Select the service you want</h2>
                    <div class="form-group"
                         style="align-content:flex-start;">
                        <section class="serviceselection" id="serviceselection">
                            <table class="table table-dark table-striped table-bordered table-hover"
                                   id="cardtable">
                                <tbody>
                                    {% for vpn in vpns %}
                                        <tr id="trproduct_{{ forloop.counter0 }}"
                                            onclick="reply_click({{ forloop.counter0 }},{{ vpn.price_t }})">
                                            <td class="None">
                                                <div style="display:flex;
                                                            flex-direction: row;
                                                            align-items: center">
                                                    <input id="vpli_{{ vpn.id }}"
                                                           name="vpnid"
                                                           onclick="reply_click({{ forloop.counter0 }},{{ vpn.price_t }} )"
                                                           type="radio"
                                                           value="{{ vpn.id }}"
                                                           {% if forloop.counter0 == 0 %}checked="checked"{% endif %} />
                                                    <label for="vpli_{{ vpn.id }}"
                                                           onclick="reply_click({{ forloop.counter0 }},{{ vpn.price_t }} )"
                                                           style="margin-left: 5px;
                                                                  clear: both;
                                                                  float:left;
                                                                  color:{{ vpn.color }}">
                                                        {{ vpn.title }} - {{ vpn.price_t|tocurrencys }} - {{ vpn.day|daytomo }} months
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </section>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-warning"
                                        hidden=""
                                        name="discount-submit"
                                        type="submit">Apply</button>
                            </div>
                            <input aria-describedby="basic-addon1"
                                   aria-label=""
                                   autofocus=""
                                   class="form-control"
                                   hidden=""
                                   id="inputdiscount"
                                   name="discount"
                                   placeholder="Enter discount code if you have one"
                                   type="text"
                                   value="" />
                        </div>
                    </div>
                    <div class="alert alert-primary center">
                        <p>
                            <strong style="font-size: medium;">All services have a fixed IP</strong>
                        </p>
                        <strong id="finalprice_str">Final price:</strong> <span id="finalprice">0</span>
                    </div>
                    <p class="center"
                       style="font-size: medium;
                              color: #ffffff;
                              margin-top: 2px;
                              margin-bottom: 1px">
                        VPN ports or internet access may be restricted by some ISPs at certain hours. Please make your purchase with this in mind. Changing your ISP or using V2RAY will solve the issue.
                    </p>
                    <p style="padding:5px;"></p>
                    <div class="row justify-content-center">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 text-center">
                            <button class="btn btn-lg btn-primary btn-block col-10"
                                    style="padding: 15px 15px 15px 15px"
                                    form="buy_submit"
                                    name="checkout-submit"
                                    type="submit"
                                    value="checkout-submit"
                                    target="_blank">Pay</button>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <p style="padding:0 0 20px 0"></p>
                </div>
                <div class="collapse" id="collapsecrypto">
                    <div class="card card-body"
                         style="background-color: #00000000;
                                border-color: #00000000;
                                border-style: none;
                                margin-bottom: 0;
                                padding-bottom: 0">
                        <div class="formbox" style="margin-bottom: 0;padding-bottom: 0;">
                            <div class="container" style="margin-bottom: 0;padding-bottom: 0;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'vpn/js/buypg.js' %}"></script>
