{% load i18n %}
{% load static %}
{% load basetags %}
<div class="col-md-8 rtl">
    <div style="margin-top:25px;">
        <p class="rtl center"
           id="blink1"
           style="font-size: medium;
                  color:rgb(182, 253, 255);
                  margin-bottom: 2px">
            <strong>{{ SITECONF.headtext1 }}</strong>
        </p>
        <p class="rtl center"
           id="blink3"
           style="font-size: medium;
                  color:rgb(182, 253, 255);
                  margin-top:2px;
                  margin-bottom: 2px">
            <strong>{{ SITECONF.headtext2 }}</strong>
        </p>
        <script>
            function blinks(hide) {
                if (hide === 0) {
                    $('#blink1').css("color", "rgb(44, 225, 210)");
                    $('#blink2').css("color", "rgb(44, 225, 210)");
                    $('#blink3').css("color", "white");
                    $('#blink4').css("color", "white");
                    hide = 1;
                } else if (hide === 1) {
                    $('#blink1').css("color", "white");
                    $('#blink2').css("color", "white");
                    $('#blink3').css("color", "rgb(44, 225, 210)");
                    $('#blink4').css("color", "rgb(44, 225, 210)");
                    hide = 0;
                } else {
                    $('#blink1').css("color", "white");
                    $('#blink2').css("color", "white");
                    //$('#blink3').css("color", "rgb(44, 225, 210)");
                    hide = 0;
                }
                setTimeout("blinks(" + hide + ")", 800);
            }

            $(document).ready(function() {
                blinks(1);
            });
        </script>
        <style type="text/css">
            @media (min-width: 768px) {
                html {
                    font-size: 16px;
                }
            }

            form {
                width: 100%;
            }
        </style>
        <form class="form_buy"
              id="buy_submit"
              action="buyVerify"
              method="post"
              target="_blank"
              style="margin-top:25px">
            {% csrf_token %}
            <div style="opacity: 1.0;">
                <div class="formbox">
                    <h2 class="h2 font-weight-normal"
                        style="direction: rtl;
                               text-align:center;
                               font-size: larger">سرویس مورد نظر خود را انتخاب کنید</h2>
                    <div class="form-group"
                         style="align-content:flex-start;
                                text-align:right;
                                direction:rtl">
                        <section class="serviceselection" id="serviceselection">
                            <table class="table table-dark table-striped table-bordered table-hover"
                                   id="cardtable">
                                <tbody>
                                    {% for vpn in vpns %}
                                        <tr id="trproduct_{{ forloop.counter0 }}"
                                            onclick="reply_click({{ forloop.counter0 }},{{ vpn.price_t }})">
                                            <td class="None">
                                                <div style="display:flex;
                                                            flex-direction: row;
                                                            justify-content: right;
                                                            align-items: center">
                                                    <input id="vpli_{{ vpn.id }}"
                                                           name="vpnid"
                                                           onclick="reply_click({{ forloop.counter0 }},{{ vpn.price_t }} )"
                                                           type="radio"
                                                           value="{{ vpn.id }}"
                                                           {% if forloop.counter0 == 0 %}checked="checked"{% endif %} />
                                                    <label for="vpli_{{ vpn.id }}"
                                                           onclick="reply_click({{ forloop.counter0 }},{{ vpn.price_t }} )"
                                                           style="margin-right: 5px;
                                                                  text-align: right;
                                                                  clear: both;
                                                                  float:left;
                                                                  color:{{ vpn.color }}">
                                                        {{ vpn.title }} - {{ vpn.price_t|tocurrencys }} - {{ vpn.day|daytomo }} ماهه
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </section>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-warning"
                                        hidden=""
                                        name="discount-submit"
                                        type="submit">اعمال</button>
                            </div>
                            <input aria-describedby="basic-addon1"
                                   aria-label=""
                                   autofocus=""
                                   class="form-control"
                                   hidden=""
                                   id="inputdiscount"
                                   name="discount"
                                   placeholder="اگر کد تخفیف دارید وارد کنید"
                                   type="text"
                                   value="" />
                        </div>
                    </div>
                    <div class="alert alert-primary rtl right">
                        <p>
                            <strong class="rtl" style="font-size: medium;">تمامی سرویس‌ها دارای آیپی ثابت می‌باشند</strong>
                        </p>
                        <strong id="finalprice_str">مبلغ نهایی:</strong> <span id="finalprice">0</span>
                    </div>
                    <p class="center rtl"
                       style="font-size: medium;
                              color: #ffffff;
                              margin-top: 2px;
                              margin-bottom: 1px">
                        پورت های وی پی ان یا کل اینترنت از جانب برخی شرکت های اینترنتی در بعضی ساعات محدود می‌شوند لطفا با علم به این موضوع خرید خود را انجام دهید، عوض کردن شرکت اینترنتی و استفاده از V2RAY مشکل را حل می کند.
                    </p>
                    <p style="padding:5px;"></p>
                    <div class="row justify-content-center">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 text-center">
                            <button class="btn btn-lg btn-primary btn-block col-10"
                                    style="padding: 15px 15px 15px 15px"
                                    form="buy_submit"
                                    name="checkout-submit"
                                    type="submit"
                                    value="checkout-submit"
                                    target="_blank">پرداخت</button>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <p style="padding:0 0 20px 0"></p>
                </div>
                <div class="collapse" id="collapsecrypto">
                    <div class="card card-body"
                         style="background-color: #00000000;
                                border-color: #00000000;
                                border-style: none;
                                margin-bottom: 0;
                                padding-bottom: 0">
                        <div class="formbox" style="margin-bottom: 0;padding-bottom: 0;">
                            <div class="container" style="margin-bottom: 0;padding-bottom: 0;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'vpn/js/buypg.js' %}"></script>
