{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load basetags %}
{% block title %}
    {% trans "Dashboard" %}
{% endblock title %}
{% block body %}
    <div class="col-md-8 " style="text-align: center;">
        <h2>
            <a class="btn btn-outline-info" href="{% url 'accounts:profile' %}">Edit Profile</a>
        </h2>
        <br>
        <h2>Orders</h2>
        <div class="list-group">
            <table border="1">
                <tr>
                    <td style="color:green;font-weight:bold;">VPN Link</td>
                    <td style="color:green;">Config File</td>
                    <td style="color:green;">Order Date</td>
                </tr>
                {% for ordr in ordrs %}
                    <tr style="color:white;">
                        <td>{{ ordr.linkvpn }}</td>
                        {% if ordr.fileconfig %}
                            <td>
                                <a href="{{ ordr.fileconfig.url }}">Download</a>
                            </td>
                        {% else %}
                            <td>X</td>
                        {% endif %}
                        <td>{{ ordr.buydate|tojdt }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% include "vpn/sidebar.html" %}
{% endblock body %}
