[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=admin
Group=www-data
WorkingDirectory=/home/admin/vpnShop
ExecStart=/home/admin/pyENV/bin/gunicorn --access-logfile /home/admin/vpnShop/zTMP/logs/gunicorn.access.log --error-log /home/admin/vpnShop/zTMP/logs/gunicorn.error.log --workers 3 --bind unix:/home/admin/vpnShop/vpnShop.sock vpnShop.wsgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target

