@font-face {
  font-family: "IRANSansX";
font-style: normal;
font-weight: 100;
  src: url('../fonts/IRANSansX/woff2/IRANSansX-Medium.woff2') format('woff2'),
       url('../fonts/IRANSansX/woff/IRANSansX-Medium.woff') format('woff');
}
