<nav class="navbar navbar-expand-md bg-dark navbar-dark"
     style="font-size:100%;
            font-weight:bold;
            color:#00dcff;
            padding:15px">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    {% comment %} <img src="bird.jpg" alt="logo" style="width:40px;"> {% endcomment %}
    <a class="navbar-brand" href="{% url 'vpn:home' %}">Free Net</a>
  </a>
  <!-- Links -->
  <ul class="nav navbar-nav ml-auto" dir="rtl">
    {% if request.user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="/admin">پنل مدیریت</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link"
             style="color:green"
             href="{% url 'accounts:register' %}">ثبت نام کاربر</a>
        </li>
      {% endif %}
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" style="color:red" href="{% url 'accounts:logout' %}">خروج</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-item nav-link px-3"
           style="color:#00ff62"
           href="{% url 'accounts:login' %}">ورود</a>
      </li>
      {% if not request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-item nav-link px-3"
             style="color:#ff00aa"
             href="{% url 'accounts:register' %}">ثبت نام</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-item nav-link px-3" href="#">خرید</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link px-3" href="#">راهنما کانکشن</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link px-3" href="#">راهنما و دانلود کانکشن</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link px-3" href="#">پشتیبانی</a>
      </li>
    </li>
    <li class="nav-item">
      <a class="nav-item nav-link px-3" href="#">سرورها</a>
    </li>
  </ul>
</nav>
