{% load static %}
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand"
       href="{% url 'vpn:home' %}"
       style="margin:0 0 0 10px;">
        {% comment %} <img src="bird.jpg" alt="logo" style="width:40px;"> {% endcomment %}
        {% comment %} <a class="navbar-brand" href="{% url 'vpn:home' %}">Free Net</a> {% endcomment %}
        <img alt="logo"
             class="navbar-brand img-responsive"
             id="logo"
             src="{% static 'root/src/logo.png' %}"
             style="width:60px;"/>
    </a>
    <button class="navbar-toggler"
            data-target="#collapsibleNavbar"
            data-toggle="collapse"
            type="button"
            style="margin:0 10px 0 0;">
        <span class="navbar-icon">
            <img alt="nav" src="{% static 'root/src/nav-icon.png' %}">
            منو
        </span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!-- Links -->
        <ul class="nav navbar-nav ml-auto" dir="rtl">
            {% if request.user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="/admin">پنل مدیریت</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       style="color:green"
                       href="{% url 'accounts:register' %}">ثبت نام کاربر</a>
                </li>
            {% endif %}
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" style="color:red" href="{% url 'accounts:logout' %}">خروج</a>
                </li>
            {% endif %}
            {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-item nav-link px-3"
                       style="color:#00ff62"
                       href="{% url 'accounts:login' %}">ورود</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link px-3"
                       style="color:#ff00aa"
                       href="{% url 'accounts:register' %}">ثبت نام</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-item nav-link px-3" href="#"> خرید</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link px-3" href="#">راهنما کانکشن</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link px-3" href="#">راهنما و دانلود کانکشن</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link px-3" href="#">پشتیبانی</a>
            </li>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link px-3" href="#">سرورها</a>
        </li>
    </ul>
</div>
</nav>
