.modal-dark {
    background-color: rgba(45, 45, 45, 0.85);
}

.trop {
    opacity: 0.7;
}

.trop:hover {
    opacity: 1.0;
}

.rtl {
    direction: rtl;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.form_buy {
    width: 85%;
    max-width: 700px;
    padding: 15px;
    margin: auto;
}

.form_buy {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form_buy:focus {
    z-index: 2;
}

.h3 {
    text-align: center;
}

.atelegeram {
    color: #000000;
    text-decoration: none;
}

.Centerer {
    display: inline-block;
    vertical-align: middle;
}

td {
    padding: 12px 12px 12px 12px;
}