{% extends 'base.html' %}
{% load static %}
{% block title %}
  Login Form
{% endblock title %}
{% block head %}
  <link rel="stylesheet" href="{% static 'root/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'root/css/login_box_style.css' %}">
{% endblock head %}
{% block body %}
  <div class="box">
    <div class="login-box">
      {% include 'partials/messages.html' %}
      <h2>Login</h2>
      <form action="." method="post">
        {% csrf_token %}
        <div class="user-box">
          {{ form.username }}
          <label>Username</label>
        </div>
        <div class="user-box">
          {{ form.password }}
          <label>Password</label>
        </div>
        <button type="submit">
          <a>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>
        </button>
      </form>
    {% endblock body %}
  </div>
</div>
