<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta charset="utf-8" />
        <meta charset="utf-8" content="text/html" http-equiv="Content-Type" />
        <meta content="fa" http-equiv="Content-Language" />
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
              name="viewport" />
        <link href="{% static "root/src/favicon.ico" %}" rel="shortcut icon" />
        <meta content="با سرویس های پرسرعت ما لذت اتصال با کیفیت به اینترنت جهانی را تجربه کنید."
              name="description" />
        <meta content="وی پی ان، خرید وی پی ان، فروش وی پی ان، ساکس، پروکسی، فیلترشکن، اتصال به وی پی ان VPN"
              name="keywords" />
        <meta content="index, follow" name="robots" />
        <meta content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
              name="googlebot" />
        <meta content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
              name="bingbot" />
        <meta content="Vitamin 5G" name="author" />
        <meta content="website" property="og:type" />
        <meta content="خرید وی پی ان پر سرعت" property="og:title" />
        <meta content="با سرویس‌های وی پی ان پرسرعت VPN، لذت اتصال با کیفیت به اینترنت جهانی را تجربه کنید."
              property="og:description" />
        <meta content="{% static 'root/src/logo.png' %}" property="og:image" />
        <meta content="https://vpn.site" property="og:url" />
        <meta content="خرید وی پی ان پر سرعت" property="og:site_name" />
        <meta content="خرید وی پی ان پر سرعت" name="twitter:title" />
        <meta content="با سرویس‌های وی پی ان پرسرعت vpn، لذت اتصال با کیفیت به اینترنت جهانی را تجربه کنید."
              name="twitter:description" />
        <meta content="{{ SITE_ADDRESS }}" name="twitter:site" />
        <meta content="{{ SITE_ADDRESS }}" name="twitter:card" />
        <meta content="خرید وی پی ان پر سرعت" name="twitter:image:alt" />
        <link rel="stylesheet"
              href="{% static 'root/css/bootstrap-5.0.2.min.css' %}">
        <script src="{% static 'root/js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'root/js/popper.min.js' %}"></script>
        <script src="{% static 'root/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'root/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'root/css/flags32.css' %}">
        <link rel="stylesheet" href="{% static 'root/css/snackbar.css' %}">
        <script async=""
                src="https://www.googletagmanager.com/gtag/js?id=UA-171093998-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "UA-171093998-1");
        </script>
        <script async=""
                src="https://www.googletagmanager.com/gtag/js?id=UA-252496654-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "UA-252496654-1");
        </script>
        <script async=""
                8
                src="https://www.googletagmanager.com/gtag/js?id=AW-10902502917"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "AW-10902502917");
        </script>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% block head %}
        {% endblock head %}
    </head>
    <body class="bg-dark">
        <script>
            function myFunction() {
                var x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function() {
                    x.className = x.className.replace("show", "");
                }, 3000);
            }
        </script>
        {% include "partials/navbar.html" %}
    </br>
    <div class="container">
        {% block body %}
        {% endblock body %}
    </div>
    <div class="container d-flex align-items-center justify-content-center">{% include "partials/messages.html" %}</div>
</br>
</br>
{% include "partials/footer.html" %}
</body>
</html>
