version: "3.9"

services:
  db:
    build:
      context: ../..
      dockerfile: docker/dockerfiles/postgres.Dockerfile
    container_name: vpn_db
    restart: always
    env_file:
      - ../../backend/.env
    volumes:
      - local_postgres_data:/var/lib/postgresql/data
      - local_postgres_data_backups:/backups
    # If you don't want external access, remove the ports mapping
    ports:
      - "${POSTGRES_PORT}:5432"

  redis:
    image: redis:7
    container_name: vpn_redis
    restart: always
    env_file:
      - ../../backend/.env
    command: redis-server --requirepass "${REDIS_PASSWORD:-8103094S}"
    expose:
      - "6379"

  backend:
    build:
      context: ../..
      dockerfile: docker/dockerfiles/django.Dockerfile
    container_name: vpn_backend
    env_file:
      - ../../backend/.env
    restart: always
    depends_on:
      - db
      - redis
    volumes:
      - ../../backend/media:/app/media
      - ../../backend/static:/app/static
      - ../../backend:/app
    expose:
      - "8000"
    command: >
      sh -c "pip install --no-cache-dir -r requirements.txt &&
             python manage.py migrate &&
             gunicorn vpnShop.wsgi:application
             --bind 0.0.0.0:8000
             --workers 3
             --log-level info"

  nginx:
    image: nginx:stable
    container_name: vpn_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ../../backend/static:/app/static
      - ../../backend/media:/app/media
      - ../dockerfiles/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

volumes:
  local_postgres_data: {}
  local_postgres_data_backups: {}
