services:
  backenddev:
    build:
      context: ../../
      dockerfile: docker/dockerfiles/dev.Dockerfile
    container_name: vpnshop_dev
    restart: always
    working_dir: /app
    volumes:
      - ../../backend:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True
