{% load i18n %}
{% load static %}
{% load basetags %}
<div class="row">
    <div class="col-md-8 rtl">
        <div class="modal hide fade"
             data-backdrop="static"
             data-keyboard="false"
             id="cryptopaymentModal">
            <div class="modal-dialog"
                 data-backdrop="static"
                 data-keyboard="false"
                 role="document">
                <div class="modal-dark modal-content"
                     data-backdrop="static"
                     data-keyboard="false">
                    <div class="modal-body"
                         data-backdrop="static"
                         data-keyboard="false"
                         style="text-align:left;
                                direction:ltr;
                                background-color: #00000000">
                        <div class="alert alert-secondary"
                             id="smicryptopay"
                             style="text-align:left;
                                    direction:ltr;
                                    background-color: #00000000">
                            <div class="progress" id="p1">
                                <div aria-valuemax="100"
                                     aria-valuemin="0"
                                     aria-valuenow="100"
                                     class="progress-bar progress-bar-striped progress-bar-animated"
                                     id="progressbarwaittime"
                                     role="progressbar"
                                     style="width: 75%"></div>
                            </div>
                            <div class="row justify-content-center">
                                <img id="crypto_qrcode_img" src="#" />
                            </div>
                            <div class="row">
                                <div class="text-warning">
                                    <p id="cryptodesc"
                                       style="direction: rtl;
                                              text-align: right;
                                              font-size: small"></p>
                                </div>
                            </div>
                            <div class="input-group mb-3" id="p3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="font-size:smaller;">Amount:</span>
                                </div>
                                <input aria-describedby="Amount"
                                       aria-label="Amount"
                                       class="form-control"
                                       disabled=""
                                       id="crypto_amount"
                                       placeholder="Amount"
                                       style="font-size:smaller"
                                       type="text" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary"
                                            onclick="CopyCB('amount')"
                                            style="font-size:smaller"
                                            type="button">Copy</button>
                                </div>
                            </div>
                            <div class="input-group mb-3" id="p4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="font-size:smaller;">Address:</span>
                                </div>
                                <input aria-describedby="Address"
                                       aria-label="Address"
                                       class="form-control"
                                       disabled=""
                                       id="crypto_address"
                                       placeholder="Address"
                                       style="font-size:smaller"
                                       type="text" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary"
                                            onclick="CopyCB('address')"
                                            style="font-size:smaller"
                                            type="button">Copy</button>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <form action="#" id="formpost" method="POST">
                                    <input name="csrfmiddlewaretoken"
                                           type="hidden"
                                           value="c1hCuY8c96mibu8Vyn97FGTYxYOT9hMSuXDem3hTe2Cnt9FJYTntQlFwWeMn0eNx" />
                                    <input form="formpost" name="data" type="hidden" value="" />
                                    <button class="btn btn-lg btn-block btn-outline-primary"
                                            form="formpost"
                                            id="cryptostatusbtn"
                                            name="btn-data"
                                            style="white-space:normal;
                                                   font-size: medium"
                                            type="button">
                                        <span aria-hidden="true"
                                              class="spinner-border"
                                              role="status"
                                              style="font-size: medium"></span>  <span id="statustext">Loading...</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top:25px;">
            <p class="rtl center"
               id="blink1"
               style="font-size: medium;
                      color:rgb(182, 253, 255);
                      margin-bottom: 2px">
                <strong>قابلیت اتصال همزمان VPN تا 10 کاربر آنلاین برای ویندوز، اندروید، آیفون، مک و لینوکس</strong>
            </p>
            <p class="rtl center"
               id="blink2"
               style="font-size: medium;
                      color:rgb(182, 253, 255);
                      margin-top:2px;
                      margin-bottom: 2px">
                <strong>ارائه نسل 6 آیپی IPv6+IPv4 Dual Stack (تجریه بیشترین سرعت و کمترین تاخیر ممکن در اینترنت) برای ترید</strong>
            </p>
            <p class="rtl center"
               id="blink3"
               style="font-size: medium;
                      color:rgb(182, 253, 255);
                      margin-top:2px;
                      margin-bottom: 2px">
                <strong>ارائه MTPROTO و V2RAY و Cisco و OpenVPN و SSTP روی تمامی سرویس‌ها</strong>
            </p>
            <p class="rtl center"
               id="blink4"
               style="font-size: medium;
                      color:rgb(182, 253, 255);
                      margin-top:2px;
                      margin-bottom: 2px">
                <strong>با پرداخت توسط ترون (ارز دیجیتال) تا 30% تخفیف بگیرید</strong>
            </p>
            <script>
                function blinks(hide) {
                    if (hide === 0) {
                        $('#blink1').css("color", "rgb(44, 225, 210)");
                        $('#blink2').css("color", "rgb(44, 225, 210)");
                        $('#blink3').css("color", "white");
                        $('#blink4').css("color", "white");
                        hide = 1;
                    } else if (hide === 1) {
                        $('#blink1').css("color", "white");
                        $('#blink2').css("color", "white");
                        $('#blink3').css("color", "rgb(44, 225, 210)");
                        $('#blink4').css("color", "rgb(44, 225, 210)");
                        hide = 0;
                    } else {
                        $('#blink1').css("color", "white");
                        $('#blink2').css("color", "white");
                        //$('#blink3').css("color", "rgb(44, 225, 210)");
                        hide = 0;
                    }
                    setTimeout("blinks(" + hide + ")", 800);
                }

                $(document).ready(function() {
                    blinks(1);
                });
            </script>
            <style type="text/css">
                @media (min-width: 768px) {
                    html {
                        font-size: 16px;
                    }
                }

                form {
                    width: 100%;
                }
            </style>
            {% csrf_token %}
            <form class="form_buy"
                  id="buy_submit"                 method="post"                  style="margin-top:25px">
                <div class="form-group" id="buy_sign_up">
                    <table class="form_buy">
                        <tbody>
                            <tr>
                                <td>
                                    <h6 style="direction: rtl;
                                               text-align: center;
                                               margin-top:3px;
                                               font-size: smaller;
                                               color: #ffffff">
                                        اطلاعات اتصال به وی پی ان شما در انتهای خرید علاوه بر نمایش به این ایمیل ارسال خواهد شد.
                                    </h6>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="opacity: 1.0;">
                    <div class="formbox">
                        <h2 class="h2 font-weight-normal"
                            style="direction: rtl;
                                   text-align:center;
                                   font-size: larger">سرویس مورد نظر خود را انتخاب کنید</h2>
                        <div class="form-group"
                             style="align-content:flex-start;
                                    text-align:right;
                                    direction:rtl">
                            <section class="serviceselection" id="serviceselection">
                                <table class="table table-dark table-striped table-bordered table-hover"
                                       id="cardtable">
                                    <tbody>
                                        {% for vpn in vpns %}
                                        <tr id="trproduct_{{ forloop.counter0 }}" onclick="reply_click({{ vpn.price_t }})">
                                            <td class="None">
                                                <div style="display:flex;
                                                            flex-direction: row;
                                                            justify-content: right;
                                                            align-items: center">
                                                    <input id="inputradio_{{ forloop.counter0 }}"
                                                           name="selected_service"
                                                           onclick="reply_click({{ vpn.price_t }})"
                                                           type="radio"
                                                           value="{{ vpn.id }}" />
                                                    <label for="inputradio_{{ forloop.counter0 }}"
                                                           onclick="reply_click({{ vpn.price_t }})"
                                                           style="margin-right: 5px;
                                                                  text-align: right;
                                                                  clear: both;
                                                                  float:left;
                                                                  color: {{ vpn.color }};">
                                                        {{ vpn.title }} - {{ vpn.price_t }} - {{ vpn.day|daytomo }} ماهه
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </section>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-warning"
                                            hidden=""
                                            name="discount-submit"
                                            type="submit">اعمال</button>
                                </div>
                                <input aria-describedby="basic-addon1"
                                       aria-label=""
                                       autofocus=""
                                       class="form-control"
                                       hidden=""
                                       id="inputdiscount"
                                       name="discount"
                                       placeholder="اگر کد تخفیف دارید وارد کنید"
                                       type="text"
                                       value="" />
                            </div>
                        </div>
                        <div class="alert alert-primary rtl right">
                            <p>
                                <strong class="rtl" style="font-size: medium;">تمامی سرویس‌ها دارای آیپی ثابت می‌باشند</strong>
                            </p>
                            <strong id="finalprice_str">مبلغ نهایی:</strong> <span id="finalprice">0</span>
                        </div>
                        <p class="center rtl"
                           style="font-size: medium;
                                  color: #ffffff;
                                  margin-top: 2px;
                                  margin-bottom: 1px">
                            پورت های وی پی ان یا کل اینترنت از جانب برخی شرکت های اینترنتی در بعضی ساعات محدود می‌شوند لطفا با علم به این موضوع خرید خود را انجام دهید، عوض کردن شرکت اینترنتی و استفاده از V2RAY مشکل را حل می کند.
                        </p>
                        <p style="padding:5px;"></p>
                        <div class="row justify-content-center">
                            <div class="col-md-1"></div>
                            <div class="col-md-10 text-center">
                                <a class="btn btn-lg btn-primary btn-block col-10"
                                        style="padding: 15px 15px 15px 15px"
                                        form="buy_submit"
                                        name="checkout-submit"
                                        type="submit"
                                        value="checkout-submit" href="{% url 'payment:pay' %}" target="_blank">پرداخت</a>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <p style="padding:0 0 20px 0"></p>
                    </div>
                    <div class="collapse" id="collapsecrypto">
                        <div class="card card-body"
                             style="background-color: #00000000;
                                    border-color: #00000000;
                                    border-style: none;
                                    margin-bottom: 0;
                                    padding-bottom: 0">
                            <div class="formbox" style="margin-bottom: 0;padding-bottom: 0;">
                                <div class="container" style="margin-bottom: 0;padding-bottom: 0;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'vpn/js/buypg.js' %}"></script>
