{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load basetags %}
{% block title %}
    {% trans "Dashboard" %}
{% endblock title %}
{% block body %}
    <div class="col-md-8 rtl" style="text-align: center;">
        <h2>
            <a class="btn btn-outline-info" href="{% url 'accounts:profile' %}">ویرایش پروفایل</a>
        </h2>
    </br>
    <h2>سفارش ها</h2>
    <div class="list-group">
        <table border = "1">
            <tr>
                {% if ordr.linkvpn %}<td style="color:green;font-weight:bold;">لینک وی پی ان</td>{% endif %}
                {% if ordr.fileconfig %}<td style="color:green;">فایل کانفیگ</td>{% endif %}
                <td style="color:green;">تاریخ سفارش</td>
            </tr>
            {% for ordr in ordrs %}
                <tr>
                    {% if ordr.linkvpn %}<td>{{ ordr.linkvpn }}</td>{% endif %}
                    {% if ordr.fileconfig %}
                        <td>
                            <a href="{{ ordr.fileconfig.url }}">دانلود</a>
                        </td>
                    {% endif %}
                    <td>{{ ordr.buydate|tojdt }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% include "vpn/sidebar.html" %}
{% endblock body %}
