{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans "Buy VPN" %}
{% endblock title %}
{% block body %}
    <div class="col-md-8 rtl" style="direction: rtl;">
        <h1 style="text-align:center;">{{ object.title }}</h1>
    </br>
    <p>{{ object.content|safe }}</p>
</br>
</br>
<div style="text-align:center">
    <img alt="help" src="{{ object.image.url }}" style="margin:5px 0 10px 0;">
</br>
<a href="{{ object.file.url }}" class="btn btn-primary">دانلود فایل</a>
</div>
</div>
{% include "vpn/sidebar.html" %}
{% endblock body %}
